<h1>Create User</h1>
<form action="./users" method="POST"  >
    <div class="field-username">
        <label for="username" class="formbuilder-text-label">Username<span class="formbuilder-required">*</span></label>
        <input type="text" placeholder="Username" class="form-control" name="username" access="false" maxlength="15" id="username" required="required" aria-required="true">
    </div>
    <div class="field-email">
        <label for="email" class="formbuilder-text-label">Email<span class="formbuilder-required">*</span></label>
        <input type="email" placeholder="Email" class="form-control" name="email" access="false" id="email" required="required" aria-required="true">
    </div>
    <div class="field-password">
        <label for="password" class="formbuilder-text-label">Password&nbsp;<span class="formbuilder-required">*</span></label>
        <input type="password" placeholder="Password " class="form-control" name="password" access="false" maxlength="20" id="password" required="required" aria-required="true">
    </div>
    <div class="field-submit">
        <button type="submit" class="btn-primary btn" name="submit" access="false" style="primary" id="submit">Submit</button>
    </div>
</form>
